h1{color:gray; font-family:deeppurple;background-color:lightpinck;}
h2{color:rgb(254, 70, 87); font-family: Edwardian script ITC;}
p{background-color:red; color:white; font-family:Arial;}
table{background-color:rgb(45, 249, 200); color:white;}
ul{color: pinck;background-color: gray;} 
ol{color: gray; background-color: lightblue;}
form{background-color:purple; color:white; font-family: Arial;}